@charset 'utf-8';
@import "~bulma/sass/utilities/functions";
@import "./styles/custom_colors.scss";

$custom-colors: (
 "custom-purple": ($custom-purple),
 "custom-purple-dark": ($custom-purple-dark)
);

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes
@import "~rbx/rbx";